@model PrettyCats.Models.KittenShortModelView

@{
	string path = string.Empty;
	string status = string.Empty;

	if (Model.PictureID != null)
	{
		path = Url.Content(Model.ImageUrl);
	}

	string link;

	if (Model.IsParent)
	{
		link = Url.Action("ParentCatMainPage_old", "KittenPages", new {id = Model.ID}, this.Request.Url.Scheme);
	}
	else
	{
		status = "Статус: " + Model.Status;
		link = Url.Action("KittenMainPage_old", "KittenPages", new { id = Model.ID }, this.Request.Url.Scheme);
	}
}

<form action="@link">
	<div class="col-sm-4">
		<a href="@link">
			<img class="img-circle img-responsive img-center" style="margin-bottom: 24px;" src="@path" alt="">
		</a>
		<h2 style="margin-top: -5px; margin-bottom: 0px; float: left; margin-right: 5px;">@Model.RussianName</h2>

		<input type="submit" class="btn-primary" value="Посмотреть" />
		
		<span class="under-name-status" style="clear: both;"> @status</span>
	</div>
</form>
