@model PrettyCats.Models.KittenModelView

@{
	Layout = null;
}
<script type="text/javascript" src="../../Scripts/Slider/jssor.slider.mini.js"></script>
<script type="text/javascript" src="../../Scripts/Slider/jssor.slider.min.js"></script>
<script src="~/Scripts/Slider/slideshow.js"></script>

<script>
	jQuery(document).ready(function ($) {
		InitializeSlider();
	});
</script>



<div class="row">
	<div class="backgroung-overrider" id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 600px; height: 500px; overflow: hidden; visibility: hidden; background-color: #24262e;">
		<!-- Loading Screen -->
		<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
			<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
			<div style="position:absolute;display:block;background:url('../../Content/Resources/Slides/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
		</div>
		<div class="slides-overrider" data-u="slides" style="cursor: default; position: relative; overflow: hidden;">
			@if (Model.MainImageSmallSizeUrl != null && Model.MainImageStandartSizeUrl != null)
			{
				<div data-p="144.50" style="display: none;">
					<img data-u="image" class="main-slide-image" src="@Url.Content(Model.MainImageStandartSizeUrl)" />
					<img data-u="thumb" id="@Model.MainImageCssClass" src="@Url.Content(Model.MainImageSmallSizeUrl)" />
				</div>
			}
			
			@foreach (var i in Model.Pictures.Where(i=>!i.IsMainPicture).OrderBy(i=>i.Order))
			{
				<div data-p="144.50" style="display: none;">
					<img data-u="image" class="main-slide-image" src="@Url.Content(i.Image)" />
					<img data-u="thumb" id="@i.CssClass" src="@Url.Content(i.ImageSmall)" />
				</div>
			}
			@if (!Model.IsParent && !Model.IsInArchive)
			{
				<button type="button" id="BuyButton" class="btn btn-primary" data-dismiss="modal" onclick=" ChooseKitten() " hidden>Хочу...</button>
			}
		</div>

		<!-- Thumbnail Navigator -->
		<div data-u="thumbnavigator" class="jssort01" style="position:absolute;left:0px;bottom:0px;width:600px;height:100px;" data-autocenter="1">
			<!-- Thumbnail Item Skin Begin -->
			<div data-u="slides" style="cursor: default;">
				<div data-u="prototype" class="p">
					<div class="w border-overrider">
							<div data-u="thumbnailtemplate" class="t"></div>
						</div>
					<div class="c border-overrider"></div>
				</div>
			</div>
			<!-- Thumbnail Item Skin End -->
		</div>
		<!-- Arrow Navigator -->
		<span data-u="arrowleft" class="jssora05l" style="top:158px;left:8px;width:40px;height:40px;"></span>
		<span data-u="arrowright" class="jssora05r" style="top:158px;right:8px;width:40px;height:40px;"></span>
		<a href="http://www.jssor.com" style="display:none">Jssor Slider</a>
	</div>

	</div>
