@using System.Web.Optimization

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>_MainLayout</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)

</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top pink">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="../Home/"> <img class="image-logo" src="../../Resources/Logo.png"></a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><div class="menu-item">@Html.ActionLink("Главная", "Index", "Home")</div></li>
						<li><div class="menu-item">@Html.ActionLink("Как выбрать котенка", "Index", "Home")</div></li>
						<li><div class="menu-item">@Html.ActionLink("Как воспитать кошку", "Index", "Home")</div></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			 @RenderBody()
		</div>
</body>
</html>
