@using PrettyCats.Database
@model PrettyCats.Database.Pets
@{
	ViewBag.Title = "Информация о котенке";
	Layout = "~/Views/Layouts/_MainLayout.cshtml";
	var owner = DbStorage.Instance.Owners.Find(Model.OwnerID);
	string motherName = String.Empty;
	string fatherName = String.Empty;
	
	string backLink = String.Empty;

	if (Model.BreedID == 1)
	{
		backLink += "MainKunKittens";
	}else if (Model.BreedID == 3)
	{
		backLink += "BritishKittens";
	}
	else
	{
		backLink += "BengalKittens";
	}

	if (Model.MotherID > 0)
	{
		motherName = DbStorage.Instance.Pets.Find(Model.MotherID).RussianName;
	}

	if (Model.FatherID > 0)
	{
		fatherName = DbStorage.Instance.Pets.Find(Model.FatherID).RussianName;
	}
}

<script src="@Url.Content("~/Scripts/DielogForm.js")"></script>
<script src="@Url.Content("~/Scripts/FlowType.js")"></script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/DialogForm.css")">
<script>
	$(document).ready(function() {
		$('#table').flowtype({
			minFont: 14,
			maxFont: 40,
			minimum: 500,
			maximum: 1200,
			fontRatio: 70
		});
	});

	function ChooseKitten() {
		var elements = $("div[data-u='slides']")[1].children;

		for (var i = 1; i < elements.length - 1; i++) {

			if ($(elements[i]).css('left') == '0px') {
				var imgSrc = $(elements[i]).find("img").prop('src');
				var text = "Вы выбрали этого котенка. Позвоните нам и сообщите его имя, а также стоимость.";
				var $message = "<div class='dialog-message'><img src='" + imgSrc + "'/><p class='message-text'>" + text + "</p>";

				$message += "</div>";

				BootstrapDialog.show({
					title: "Ваш выбор",
					message: $message,
					buttons: [
						{
							label: 'Вернуться',
							cssClass: 'btn-primary',
							action: function (dialogItself) {
								dialogItself.close();
							}
						}
					]
				});
			}
		}
	}
</script>

<div class="row">
	<div class="col-xs-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
		@Html.Partial("~/Views/KittenPages/_BackLink.cshtml", new []{backLink, "KittenPages"})
		<h3 style="text-align: center; margin-top:0px;margin-bottom: 30px;display:inline-block;vertical-align: middle;">Подробная информация о котенке @Model.RussianName</h3>

	</div>
</div>

@Html.Partial("~/Views/Layouts/_CatSlider.cshtml")

<div class="row" id="table">
	<div class="backgroung-overrider" id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px;height: auto;">
		<div class="Description">
			<table>
				<tr><td><b>Дата рождения: </b></td><td> @if(Model.BirthDate != null){((DateTime)Model.BirthDate).ToString("dd.MM.yyyy");}</td></tr>
				<tr><td><b>Порода:</b></td><td>@DbStorage.Instance.PetBreeds.Find(Model.BreedID).RussianName</td></tr>
				<tr><td><b>Окрас:</b></td><td>@Model.Color</td></tr>
				<tr><td><b>Имя:</b></td><td>@Model.RussianName</td></tr>
				<tr><td><b>Стоимость:</b></td><td>@Model.Price</td></tr>
				@if (Model.MotherID > 0)
				{
					<tr><td><b>Мама:</b></td><td><a href="/kittenpages/ParentCatMainPage/@Model.MotherID">@motherName</a></td></tr>
				}

				@if (Model.FatherID > 0)
				{
					<tr><td><b>Папа:</b></td><td><a href="/kittenpages/ParentCatMainPage/@Model.FatherID">@fatherName</a></td></tr>
				}
				<tr><td><b>Заводчик:</b></td><td>@owner.Name</td><td><b>Телефон: </b></td><td>@owner.Phone</td></tr>
				<tr><td><b>Статус:</b></td><td>@Model.Status</td></tr>
				<tr><td><b>Описание:</b></td></tr>
				<tr><td colspan="2">@Model.UnderThePictureText</td></tr>
			</table>
		</div>
		@Html.Partial("~/Views/KittenPages/_BackLink.cshtml", new []{backLink, "KittenPages"})
	</div>

	<div class="col-xs-6 col-md-6"></div>
</div>

