@using PrettyCats.Database
@model PrettyCats.Database.Pets
@{
	ViewBag.Title = "Информация о котенке";
	Layout = "~/Views/Layouts/_MainLayout.cshtml";
	var owner = DbStorage.Owners.Find(i=>i.ID == Model.OwnerID);
	string motherName = String.Empty;
	string fatherName = String.Empty;
	string date = String.Empty;
	
	string backLink = String.Empty;

	if (Model.BreedID == 1)
	{
		backLink += Model.IsInArchive ? "MainKunKittens_Archive" : "MainKunKittens";

	}
	else if (Model.BreedID == 3 || Model.BreedID == 4)
	{
		backLink += Model.IsInArchive ? "BritishKittens_Archive" : "BritishKittens";
	}
	else
	{
		backLink += Model.IsInArchive ? "BengalKittens_Archive" : "BengalKittens";
	}

	if (Model.MotherID > 0)
	{
		motherName = DbStorage.Pets.Find(i=>i.ID == Model.MotherID).RussianName;
	}

	if (Model.FatherID > 0)
	{
		fatherName = DbStorage.Pets.Find(i=>i.ID == Model.FatherID).RussianName;
	}
	
	if (Model.BirthDate != null)
	 {
		date = ((DateTime) Model.BirthDate).ToString("dd.MM.yyyy");
	 }
}

<script src="@Url.Content("~/Scripts/DielogForm.js")"></script>
<script src="@Url.Content("~/Scripts/FlowType.js")"></script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/DialogForm.css")">
<script>
	$(document).ready(function() {
		$('#table').flowtype({
			minFont: 14,
			maxFont: 40,
			minimum: 500,
			maximum: 1200,
			fontRatio: 70
		});
	});

	function ChooseKitten() {
		var elements = $("div[data-u='slides']")[1].children;

		for (var i = 1; i < elements.length - 1; i++) {

			if ($(elements[i]).css('left') == '0px') {
				var imgSrc = $(elements[i]).find("img").prop('src');
				var number = "@owner.Phone";
				var ownerName = "@owner.Name";
				var kittenName = "@Model.RussianName";
				var text = "<br/><br/><span class='big-number'> <b>Вы выбрали котенка '" + kittenName + "'</b></span><br/> &nbsp;&nbsp;Для покупки необходимо <b>позвонить по номеру</b> ниже и сообщить имя котенка. &nbsp;&nbsp;Если у Вас остались какие-то <b>вопросы</b>, мы всегда готовы ответить на них!";
				
				var $message = "<div class='dialog-message'><img class='main-slide-image' src='" + imgSrc + "'/><p class='message-text'>" + text + "</p> <span class='big-number'><b>" + number + " " + ownerName +" </b><br /> Будем рады вашему звонку!</span></div>";

				BootstrapDialog.show({
					title: "Котенок " + kittenName,
					message: $message,
					buttons: [
						{
							label: 'Назад',
							cssClass: 'btn-primary',
							action: function (dialogItself) {
								dialogItself.close();
							}
						}
					]
				});
			}
		}
	}

	function DisplayVideo() {
		var number = "@owner.Phone";
		var ownerName = "@owner.Name";
		var kittenName = "@Model.RussianName";
		var text = '<iframe width="100%" height="500px" src="@Model.VideoUrl" frameborder="0" allowfullscreen></iframe>';

		var $message = "<div class='dialog-message><div class='video-container'>"+ text +"</div></div>";

		BootstrapDialog.show({
			size: BootstrapDialog.SIZE_WIDE,
			title: "Котенок " + kittenName,
			message: $message,
			buttons: [
				{
					label: 'Назад',
					cssClass: 'btn-primary',
					action: function (dialogItself) {
						dialogItself.close();
					}
				}
			]
		});
	}
</script>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-lg-8 col-md-offset-2">
			@Html.Partial("~/Views/KittenPages/_BackLink.cshtml", new[] { backLink, "KittenPages" })
			<h3 style="text-align: center; margin-top:0px;margin-bottom: 30px;display:inline-block;vertical-align: middle;">Подробная информация о котенке @Model.RussianName</h3>
		</div>
	</div>
	@Html.Partial("~/Views/Layouts/_CatSlider.cshtml")
	<div class="row" id="table">
		<div class="backgroung-overrider" id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px;height: auto;">
			<div class="Description">
				<table>
					<tr><td><b>Имя:</b></td><td>@Model.RussianName</td></tr>
					@if (!String.IsNullOrEmpty(date))
					{
						<tr><td><b>Дата рождения: </b></td><td> @date </td></tr>
					}
					<tr><td><b>Порода:</b></td><td>@DbStorage.PetBreeds.Find(i => i.ID == Model.BreedID).RussianName</td></tr>
					<tr><td><b>Окрас:</b></td><td>@Model.Color</td></tr>
					@if (Model.Price != null && Model.Price > 0)
					{
						<tr><td><b>Стоимость:</b></td><td>@Model.Price</td></tr>
					}
					@if (!String.IsNullOrEmpty(Model.VideoUrl))
					{
						<tr><td><b>Видео:</b></td><td><a href="javascript:DisplayVideo()">Смотреть</a></td></tr>
					}
					@if (Model.MotherID > 0)
					{
						<tr><td><b>Мама:</b></td><td><a href="/parent-kitten-page/@Model.MotherID">@motherName</a></td></tr>
					}
					@if (Model.FatherID > 0)
					{
						<tr><td><b>Папа:</b></td><td><a href="/parent-kitten-page/@Model.FatherID">@fatherName</a></td></tr>
					}
					<tr><td><b>Заводчик:</b></td><td>@owner.Name</td>@if (!String.IsNullOrEmpty(owner.Phone))
					{
					<td><b>Телефон: </b></td>
					<td>@owner.Phone</td>}</tr>
					<tr><td><b>Статус:</b></td><td>@Model.Status</td></tr>
					@if (!String.IsNullOrEmpty(Model.UnderThePictureText))
					{
						<tr><td><b>Описание:</b></td></tr>
						<tr><td colspan="4">@Model.UnderThePictureText</td></tr>
					}
				</table>
			</div>
			@Html.Partial("~/Views/KittenPages/_BackLink.cshtml", new[] { backLink, "KittenPages" })
		</div>
		<div class="col-xs-6 col-md-6"></div>
	</div>
</div>