@using PrettyCats.Database
@model PrettyCats.Database.Pets

@{
	Pictures pict = null;
	string path = String.Empty;
	string status = String.Empty;

	if (Model.PictureID != null)
	{
		pict = DbStorage.Pictures.Find(i=> i.ID == Model.PictureID);
		path = Url.Content(pict.Image);
	}

	string link = "/kittenpages/KittenMainPage/";

	if (Model.IsParent)
	{
		link = "/kittenpages/ParentCatMainPage/";
	}
	else
	{
		status = "Статус: " + Model.Status;
	}

	link += Model.ID;
	
}

<div class="col-sm-4">
	<a href="@link">
		<img class="img-circle img-responsive img-center" src="@path" alt="">
	</a>
	<h2 style="margin-bottom: 0px;">@Model.RussianName</h2>
	<span class="under-name-status"> @status</span>
	<p>@Model.UnderThePictureText</p>
</div>
