@using PrettyCats.Database
@model PrettyCats.Database.Pets
@{
	ViewBag.Title = "KittenMainPage";
	Layout = "~/Views/Layouts/_MainLayout.cshtml";
	var owner = DbStorage.Instance.Owners.Find(Model.OwnerID);
	DateTime date = (DateTime)Model.BirthDate;
	string backLink = "~/kittenpages/";

	if (Model.BreedID == 1)
	{
		backLink += "MeinKunKittens";
	}else if (Model.BreedID == 3)
	{
		backLink += "BritishKittens";
	}
	else
	{
		backLink += "BengalKittens";
	}
}

<script src="~/Scripts/DielogForm.js"></script>
<script src="~/Scripts/FlowType.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/DialogForm.css">
<script>
	$(document).ready(function() {
		$('#table').flowtype({
			minFont: 14,
			maxFont: 40,
			minimum: 500,
			maximum: 1200,
			fontRatio: 70
		});
	});

	function ChooseKitten() {
		var elements = $("div[data-u='slides']")[1].children;

		for (var i = 1; i < elements.length - 1; i++) {

			if ($(elements[i]).css('left') == '0px') {
				var imgSrc = $(elements[i]).find("img").prop('src');
				var text = "Вы выбрали этого котенка. Позвоните нам и сообщите его имя, а также стоимость.";
				var $message = "<div class='dialog-message'><img src='" + imgSrc + "'/><p class='message-text'>" + text + "</p>";

				$message += "</div>";

				BootstrapDialog.show({
					title: "Ваш выбор",
					message: $message,
					buttons: [
						{
							label: 'Вернуться',
							cssClass: 'btn-primary',
							action: function (dialogItself) {
								dialogItself.close();
							}
						}
					]
				});
			}
		}
	}
</script>

<div class="row">
	<div class="col-xs-12 col-md-10 col-md-offset-2 col-lg-offset-3">
		<a class="back-link" href="@Url.Content(backLink)">
			<div class="image" style="width:59px;"></div>
		</a>
		<h3 style="text-align: center; margin-top:0px;margin-bottom: 30px;display:inline-block;vertical-align: middle;">Подробная информация о котенке @Model.RussianName</h3>

	</div>
</div>

@Html.Partial("~/Views/Layouts/_CatSlider.cshtml")

<div class="row" id="table">
	<div class="backgroung-overrider" id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px;height: auto;">
		<div class="Description">
			<table>
				<tr><td><b>Дата рождения: </b></td><td> @date.ToString("dd.MM.yyyy")</td></tr>
				<tr><td><b>Порода:</b></td><td>@DbStorage.Instance.PetBreeds.Find(Model.BreedID).RussianName</td></tr>
				<tr><td><b>Окрас:</b></td><td>@Model.Color</td></tr>
				<tr><td><b>Имя:</b></td><td>@Model.RussianName</td></tr>
				<tr><td><b>Заводчик:</b></td><td>@owner.Name</td><td><b>Телефон: </b></td><td>@owner.Phone</td></tr>
				<tr><td><b>Статус:</b></td><td>@Model.Status</td></tr>
				<tr><td><b>Описание:</b></td></tr>
				<tr><td colspan="2">@Model.UnderThePictureText</td></tr>
			</table>
		</div>
		<a class="back-link" href="@Url.Content(backLink)">
			<div class="image"></div>
		</a>
	</div>
	
	<div class="col-xs-6 col-md-6"></div>
</div>

