@model PrettyCats.Models.KittenShortModelView

@{
	string path = String.Empty;
	string status = String.Empty;

	if (Model.PictureID != null)
	{
		path = Url.Content(Model.ImageUrl);
	}

	string link = "/kitten-page/";

	if (Model.IsParent)
	{
		link = "/parent-kitten-page/";
	}
	else
	{
		status = "Статус: " + Model.Status;
	}

	link += Model.ID;
	
}

<form action="@link">
	<div class="col-sm-4">
		<a href="@link">
			<img class="img-circle img-responsive img-center" style="margin-bottom: 24px;" src="@path" alt="">
		</a>
		<h2 style="margin-top: -5px; margin-bottom: 0px; float: left; margin-right: 5px;">@Model.RussianName</h2>

		<input type="submit" class="btn-primary" value="Посмотреть" />
		
		<span class="under-name-status" style="clear: both;"> @status</span>
	</div>
</form>
