@using PrettyCats.Database
@model PrettyCats.Database.Pets

@{
	ViewBag.Title = "ParentCatMainPage";
	Layout = "~/Views/Layouts/_MainLayout.cshtml";
	var owner = DbStorage.Instance.Owners.Find(Model.OwnerID);
}

<script src="~/Scripts/DielogForm.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/DialogForm.css">	

<h2 style="text-align: center;">Информация о кошке</h2>

@Html.Partial("~/Views/Layouts/_CatSlider.cshtml")
<div class="row" id="table">
	<div class="backgroung-overrider" id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px;height: auto;">
		<div class="Description">
			<table>
				<tr><td><b>Дата рождения: </b></td><td> @if (Model.BirthDate != null) { ((DateTime)Model.BirthDate).ToString("dd.MM.yyyy"); }</td></tr>
				<tr><td><b>Порода:</b></td><td>@DbStorage.Instance.PetBreeds.Find(Model.BreedID).RussianName</td></tr>
				<tr><td><b>Окрас:</b></td><td>@Model.Color</td></tr>
				<tr><td><b>Имя:</b></td><td>@Model.RussianName</td></tr>
				<tr><td><b>Заводчик:</b></td><td>@owner.Name</td><td><b>Телефон: </b></td><td>@owner.Phone</td></tr>
				<tr><td><b>Описание:</b></td></tr>
				<tr><td colspan="2">@Model.UnderThePictureText</td></tr>
			</table>
		</div>
		<a class="back-link" href="/kittenpages/AllParents">
			<div class="image"></div>
		</a>
	</div>

	<div class="col-xs-6 col-md-6"></div>
</div>